* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*font-family: "Garamond", sans-serif;*/
    font-family: "Courier New", 'Courier New', Courier, monospace
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding-bottom: 25px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    
    animation: 
        typing 4.5s steps(30, end),
        blink-caret 1.0s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }

}

.coming-soon {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

.our-logo {
    margin-top: 40px;
    height: 50vh;
    width: 50vh;
    border-color: rgb(165, 163, 163);
    border-image: none;
    border-style: solid;
    border-width: 5px;
    overflow: hidden;
    border-radius: 10% 10% 10% 10%;

}


/*memories*/


.memories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-weight: bolder;
}
.boxes-container {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  }


.card {
    padding: 16px;
    margin: 16px;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b4049;
    color: white;
    border-radius: 25px;
  }


  .card img {
    width: 150px;
    height: 150px;
  }








/*letter*/


.letter {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    font-family: sans-serif;
    background-color: #99999a;
    padding-top: 125px;
    margin-top: 75px;
    
    
    
}

.wrapper {
    height: 200px;
    width: 300px;
    background-color: #3760C9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}


.writing {
    position: absolute;
    top: 0;
    height: 80%;
    width: 80%;
    
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.5s;
    font-family: cursive;
    cursor: pointer;

}

.writing p {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    color: #3b4049;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #C4DFF0;
    border-bottom: 100px #C4DFF0;
    border-left: 150px solid #A4D4F2;
    z-index: 3;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 150px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

/*Lid when envelope opens*/

.lid.one {
    border-top: 100px solid #658CED;
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
}

/*lid when envelope closes */

.lid.two {
    border-top: 100px solid #3760C9;
    transform: rotateX(90deg;)
    z-index: 1;
    transition-delay: 0.5s;
}

/*Lid open and close animation*/

.wrapper:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

/*letter up and down animation*/

.wrapper:hover .writing {
    transform: translateY(-50px);
    transition-delay: 0.5s;
}

.arrow {
    cursor: pointer;
    font-size: 30px;
    margin: 0 20px;
}






  #break {
    margin-top: 40px;
    margin-bottom: -40px;
    color: lightgray;

  }